div:has(h2):has(.dialog-content) {
    height: 100%;

    h2 {
        height: 8%;
    }

    .dialog-content {
        height: 80%;
        overflow: visible;
        flex-direction: column;
        display: flex;

        .new-session-info {
            height: 12%;
        }
    
        .specific-data-loader {
            height: 38%;
        }

        .starting-data {
            overflow-y: scroll;
            height: 50%;
        
            .data-item {
                height: 2em;
                display: flex;

                .checkbox {
                    width: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 1em;
                    margin-right: 1em;
                }

                .item-name {
                    width: 95%;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .dialog-actions {
        height: 12%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow-y: scroll;
        overflow-x: hidden;

        .start-game {
            height: 60%;
            display: flex;
            align-items: center;
        }

        .scramble {
            height: 60%;
            display: flex;
            align-items: center;
        }

        .algorithm {
            height: 60%;
        }
    }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    overflow: hidden;
}
