<div>
    <h2 mat-dialog-title>{{pageTitle()}}</h2>
    <div id="new-game-dialog-content" class="dialog-content">
        <div class="new-session-info">
            <form>
                <mat-form-field>
                    <mat-label><a i18n="@@new-game-session-name">Name of Session</a></mat-label>
                    <input matInput [formControl]="nameFormControl" i18n-placeholder="@@new-game-session-name-placeholder" placeholder="Session Name">
                    <mat-error *ngIf="nameFormControl.hasError('required')">
                        <a i18n="@@new-game-session-name-required">A session name is required.</a>
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
        <mat-divider></mat-divider>
        <div class="specific-data-loader">

            <app-new-generic-item
                *ngIf="inputData.gameType === 'generic-items'"
                [dataLoader]="genericItemLoader"
                (chooseData)="loadNewGameData($event)"
                (loadingData)="startLoadingData($event)">
            </app-new-generic-item>

            <app-new-anilist-character
                *ngIf="inputData.gameType === 'anilist-character'"
                [dataLoader]="anilistCharacterLoader"
                (chooseData)="loadNewGameData($event)"
                (loadingData)="startLoadingData($event)"
            ></app-new-anilist-character>

            <app-new-anilist-staff
                *ngIf="inputData.gameType === 'anilist-staff'"
                [dataLoader]="anilistStaffLoader"
                (chooseData)="loadNewGameData($event)"
                (loadingData)="startLoadingData($event)">
            </app-new-anilist-staff>

            <app-new-anilist-media
                *ngIf="inputData.gameType === 'anilist-media'"
                [dataLoader]="anilistMediaLoader"
                (chooseData)="loadNewGameData($event)"
                (loadingData)="startLoadingData($event)">
            </app-new-anilist-media>

            <app-new-spotify-songs
                *ngIf="inputData.gameType === 'spotify-songs'"
                [dataLoader]="spotfiyPlaylistSongLoader"
                (chooseData)="loadNewGameData($event)"
                (loadingData)="startLoadingData($event)">
            </app-new-spotify-songs>

        </div>
        <mat-divider></mat-divider>
        <div class="starting-data">
            <mat-spinner *ngIf="currentlyLoading"></mat-spinner>
            <div class="data-item" *ngFor="let item of startingItems | keyvalue">
                <div class="checkbox">
                    <mat-checkbox [(ngModel)]="item.value.selected"></mat-checkbox>
                </div>
                <div class="item-name">
                    {{getItemDisplayName(item.value.item)}}
                </div>
            </div>
        </div> 
    </div>
    <div class="dialog-actions">
        <div class="start-game">
            <button mat-raised-button color="primary" (click)="startSession()" [disabled]="!canStartSession()">
                <a i18n="@@new-game-start-game">Start Game</a>
            </button>
        </div>
        <div class="scramble">
            <mat-checkbox [(ngModel)]="scrambleInput"><a i18n="@@new-game-scramble-input">Scramble Items</a></mat-checkbox>
        </div>
        <div class="algorithm">
            <mat-form-field >
                <mat-label><a i18n="@@new-game-algorithm">Algorithm</a></mat-label>
                <mat-select [(value)]="algorithm">
                    <mat-option value="merge"><a i18n="@@new-game-algorithm-merge">Merge Sort</a></mat-option>
                    <mat-option value="queue-merge"><a i18n="@@new-game-algorithm-queue-merge">Queued Merge Sort</a></mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>