<!-- <div>
    <h2 mat-dialog-title>New Game</h2>
    <mat-dialog-content class="mat-typography">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Name of Session</mat-label>
                <input matInput [formControl]="nameFormControl" placeholder="Session Name">
                <mat-error *ngIf="nameFormControl.hasError('required')">
                    A session name is <strong>required</strong>.
                </mat-error>
            </mat-form-field>
        </form>
        <app-file-dropper (fileDataLoaded)="fileDataLoaded($event)"></app-file-dropper>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="startSession()">Cancel</button>
        <button mat-button (click)="startSession()" [disabled]="!canStartSession()">Start Game</button>
    </mat-dialog-actions>
</div> -->
<div>
    <h2 mat-dialog-title>New Game</h2>
    <mat-dialog-content class="mat-typography">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Name of Session</mat-label>
                <input matInput [formControl]="nameFormControl" placeholder="Session Name">
                <mat-error *ngIf="nameFormControl.hasError('required')">
                    A session name is <strong>required</strong>.
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field *ngIf="inputData.gameType.startsWith('anilist-')" class="example-full-width">
                <mat-label>Anilist Username</mat-label>
                <input matInput [formControl]="usernameFormControl" placeholder="Username">
                <mat-error *ngIf="usernameFormControl.hasError('required')">
                    Anilist username is <strong>required</strong>.
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="startSession()" [disabled]="!canStartSession()">Start Game</button>
    </mat-dialog-actions>
</div>