<div>
    <h2 mat-dialog-title>{{pageTitle()}}</h2>
    <div class="dialog-content">
        <div class="new-session-info">
            <form>
                <mat-form-field>
                    <mat-label>Name of Session</mat-label>
                    <input matInput [formControl]="nameFormControl" placeholder="Session Name">
                    <mat-error *ngIf="nameFormControl.hasError('required')">
                        A session name is <strong>required</strong>.
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
        <mat-divider></mat-divider>
        <div class="specific-data-loader">
            <app-new-anilist-character *ngIf="inputData.gameType === 'anilist-character'" (chooseData)="loadNewGameData($event)"></app-new-anilist-character>
            <app-new-anilist-staff *ngIf="inputData.gameType === 'anilist-staff'" (chooseData)="loadNewGameData($event)"></app-new-anilist-staff>
        </div>
        <mat-divider></mat-divider>
        <div class="starting-data">
            <div class="data-item" *ngFor="let item of startingItems; index as i">
                <div class="checkbox">
                    <mat-checkbox [(ngModel)]="selected[i]"></mat-checkbox>
                </div>
                <div class="item-name">
                    {{item.getDisplayName(language)}}
                </div>
            </div>
        </div> 
    </div>
    <div class="dialog-actions">
        <button mat-raised-button color="primary" (click)="startSession()" [disabled]="!canStartSession()">
            Start Game
        </button>
    </div>
</div>