<div class="album-id-area" style="display: flex; flex-direction: row; width: 100%;">
    <div style="display: flex; flex-direction: column; width: 30%; margin-top: 0.5em; margin-left: 0.5em;">
        <div style="width: 50%;">
            <mat-form-field class="album-id-input">
                <mat-label i18n="@@main-spotify-album-picker-album-id">Album ID</mat-label>
                <input matInput i18n-placeholder="@@main-spotify-album-picker-album-id-placeholder" placeholder="Album ID" [(ngModel)]="albumId">
            </mat-form-field>
        </div>
        <div style="display: flex; align-items: center;">
            <button mat-flat-button color="primary" [disabled]="albumId.length === 0" (click)="loadFromAlbumId()">
                <a i18n="@@main-spotify-album-picker-album-id-load">Load Songs</a>
            </button>
        </div>
    </div>
</div>