.settings-dialog-body {
    height: 100%;

    .dropdown-option {
        min-width: 30%;
        max-width: 15em;

        mat-form-field {
            width: 100%;
        }

        mat-slider {
            width: 100%;
        }
    }
}