@use "../common.scss";

.filter-element {
    margin-bottom: 1em;

    .filter-element-title {
        .and-or-radio-group {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .title-checkbox {
            flex-grow: 1;
        }
    }
}