<div class="filter-element">
    <div class="filter-element-title">
        <a class="title-text">{{filterTitle}}</a>
        <mat-checkbox *ngIf="useExtraCheckbox" (change)="updateFilters()" [(ngModel)]="extraCheckbox">{{filterCheckboxLabel}}</mat-checkbox>
    </div>
    <mat-slider [min]="min" [max]="max" [step]="step" [discrete]="true">
        <input (dragEnd)="updateFilters()" [(value)]="smallValue" matSliderStartThumb>
        <input (dragEnd)="updateFilters()" [(value)]="largeValue" matSliderEndThumb>
    </mat-slider>
</div>