.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;

    .title {
        font-size: 5.5vw;
        margin-bottom: 3em;
    }

    .google-login {
        margin-bottom: 5em;
    }

    .default-login {
        margin-top: 5em;
        width: 25em;

        .username-input {
            width: 100%;
            margin-bottom: 1.5em;
        }

        .password-input {
            width: 100%;
            margin-bottom: 1.5em;
        }

        .login-buttons {
            display: flex;
            justify-content: space-around;
        }
    }
}