<div>
    <div mat-subheader><b i18n="@@main-screen-existing-sessions">Resume a Comparison Session</b></div>
    <mat-divider></mat-divider>
    <mat-list style="max-height: 20em; overflow: scroll; overflow-x: hidden" role="list">
        <mat-list-item *ngFor="let session of sessionList.sessions">
            <div class="session-item">
                <div class="session-name" (click)="selectSession($event, session)">
                    {{session.name}}
                </div>
                <button class="delete-button" mat-icon-button (click)="deleteSession(session)">
                    <mat-icon fontIcon="delete"></mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
</div>
<div>
    <div mat-subheader><b i18n="@@main-screen-pick-sort">Pick a Comparison Type</b></div>
    <mat-divider></mat-divider>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around; overflow: scroll; overflow-x: hidden">
        <div class="type-card" style="cursor: pointer" (click)="selectImportOption($event)">
            <div style="display: flex; justify-content: center; font-size: medium;">
                <b i18n="@@main-screen-import-session">Import Comparison Session</b>
            </div>
            <img mat-card-image src="assets/import-session.png">
        </div>
        <div class="type-card" [id]="game.type" *ngFor="let game of gameOptions" style="cursor: pointer" (click)="selectNewGameOption($event, game.type)">
            <div style="display: flex; justify-content: center; font-size: medium;">
                <b>{{game.displayName}}</b>
            </div>
            <img mat-card-image [src]="'assets/' + game.image">
        </div>
    </div>
</div>
