.mat-mdc-subheader {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.top-half {
    .session-list {
        max-height: 20em;
        overflow: scroll;
        overflow-x: hidden;

        .session-item {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        
            .session-name {
                width: 100%;
                display: flex;
                align-items: center;
            }
        }
    }

    .no-sessions {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

.bottom-half {
    .new-session-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: scroll;
        overflow-x: hidden;

        .type-card {
            max-width: 400px;
            cursor: pointer;

            .card-title {
                display: flex;
                justify-content: center;
                font-size: medium;
            }

            .import-icon {
                display: flex;
                justify-content: center;
                font-size: medium;

                .import-icon-image {
                    width: 70%;
                }
            }
        }
    }
}

mat-list-item {
    .delete-button {
        display: none;
    }
}

mat-list-item:hover {
    background-color: rgb(235, 235, 235);

    .delete-button {
        display: inline;
    }
}
