<div>
    <mat-tab-group class="anilist-character" mat-align-tabs="center" [selectedIndex]="currentTab" (selectedIndexChange)="currentTab = $event">
        <mat-tab class="username-input-area" label="From Username">
            <app-anilist-fave-picker [loaderName]="anilistFavouriteCharacterLoader" (chooseData)="setupCurrentCharList($event)"></app-anilist-fave-picker>
        </mat-tab>
        <mat-tab class="file-input-area" label="From File">
            <app-anilist-filedrop-picker [loader]="anilistFavouriteCharacterLoader" (chooseData)="setupCurrentCharList($event)"></app-anilist-filedrop-picker>
        </mat-tab>
        <mat-tab class="text-input-area" label="From Text">
            <app-anilist-textbox-picker
                [loader]="anilistFavouriteCharacterLoader"
                [textboxPlaceholder]="textboxPlaceholder"
                [textboxLabel]="textboxLabel"
                [buttonName]="buttonName"
                (chooseData)="setupCurrentCharList($event)"
            ></app-anilist-textbox-picker>
        </mat-tab>
    </mat-tab-group>
</div>