<div class="playlist-id-box">
    <div class="playlist-id-input-section">
        <mat-form-field class="playlist-id-input">
            <mat-label i18n="@@new-game-spotify-playlist-picker-playlist-id">Playlist Link or ID</mat-label>
            <input matInput i18n-placeholder="@@new-game-spotify-playlist-picker-playlist-id-placeholder" placeholder="Playlist Link or ID" [formControl]="playlistIdFormControl">
            <mat-error *ngIf="playlistIdFormControl.hasError('required')">
                <a i18n="@@new-game-spotify-playlist-picker-enter-playlist-id">Please enter a link or ID.</a>
            </mat-error>
            <mat-error *ngIf="playlistIdFormControl.hasError('invalid')">
                <a i18n="@@new-game-spotify-playlist-picker-enter-valid-playlist-id">Please enter a valid link or ID.</a>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="playlist-id-button-section">
        <button mat-flat-button color="primary" [disabled]="!playlistIdFormControl.valid || !loadingDone" (click)="loadFromPlaylistId()">
            <a i18n="@@new-game-spotify-playlist-picker-playlist-id-load">Load Songs</a>
        </button>
    </div>
</div>