.id-box {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-left: 0.5em;

    .id-input-section {
        width: 100%;
        margin-bottom: 2em;

        .id-input {
            width: 100%;
        }
    }

    .id-button-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}