.drag-area {
    height: 6em;
    margin: 1em;

    .drop-input {
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .drop-text {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.drag-area:hover {
    background-color: rgb(230, 230, 230);
}
