<app-top-bar [showHomeButton]="false" [showUsername]="false" [showLogoutButton]="false"></app-top-bar>
<div class="login-page">
    <div class="title">
        <a i18n="@@login-screen-title-text">Super Sorter</a>
    </div>
    <div class="google-login">
        <asl-google-signin-button
            type="standard"
            shape="rectangular"
            theme="outline"
            text="signin_with"
            size="large"
            logo_alignment="left">
        </asl-google-signin-button>
    </div>
    <mat-divider></mat-divider>
    <div class="default-login">
        <mat-form-field class="username-input">
            <mat-label i18n="@@login-screen-username">Username</mat-label>
            <input matInput [formControl]="usernameFormControl" i18n-placeholder="@@login-screen-username-placeholder" placeholder="Username">
            <mat-error *ngIf="usernameFormControl.hasError('required')">
                <a i18n="@@login-screen-enter-username">Please enter a username.</a>
            </mat-error>
            <mat-error *ngIf="usernameFormControl.hasError('maxlength')">
                <a i18n="@@login-screen-max-length">Max length is 30 characters.</a>
            </mat-error>
            <mat-error *ngIf="usernameFormControl.hasError('numeric')">
                <a i18n="@@login-screen-numeric">Username cannot be numeric.</a>
            </mat-error>
            <mat-error *ngIf="usernameFormControl.hasError('illegalchar')">
                <a i18n="@@login-screen-illegal-character">Username contains illegal character.</a>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="password-input">
            <mat-label i18n="@@login-screen-password">Password</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl" i18n-placeholder="@@login-screen-password-placeholder" placeholder="Password">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                <a i18n="@@login-screen-enter-password">Please enter a password.</a>
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('maxlength')">
                <a i18n="@@login-screen-max-length">Max length is 30 characters.</a>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-dialog-actions class="login-buttons">
            <button i18n="@@login-screen-login-button" mat-button (click)="login()" [disabled]="!canLogin()">Login</button>
            <button i18n="@@login-screen-register-button" mat-button (click)="register()" [disabled]="!canLogin()">Register</button>
        </mat-dialog-actions>
    </div>
</div>
