<h2 mat-dialog-title>User Settings</h2>
<mat-dialog-content>
    <div class="settings-dialog-body">
        <div class="dropdown-option">
            <div class="dropdown-name">
                <a
                    i18n="@@user-settings-site-language-label"
                    i18n-matTooltip="@@user-settings-site-language-tooltip"
                    matTooltip="Language of the user interface."
                >Site Language</a>
            </div>
            <div>
                <mat-form-field>
                    <mat-select [(value)]="siteLanguage" (selectionChange)="changeLocale($event)">
                        <mat-option *ngFor="let locale of locales" [value]="locale.code">{{locale.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="anilist-language dropdown-option">
            <div>
                <a 
                    i18n="@@user-settings-ailist-language-label"
                    i18n-matTooltip="@@user-settings-ailist-language-tooltip"
                    matTooltip="Language used for Anilist-related items."
                >Anilist Language</a>
            </div>
            <mat-form-field>
                <mat-select [(value)]="anilistLanguage" (selectionChange)="pickAnilistLanguage($event)">
                    <mat-option value="romaji"><a i18n="@@user-settings-ailist-language-romaji">Romaji</a></mat-option>
                    <mat-option value="english"><a i18n="@@user-settings-ailist-language-english">English</a></mat-option>
                    <mat-option value="native"><a i18n="@@user-settings-ailist-language-native">Native</a></mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="audio-preview-volume dropdown-option">
            <div>
                <a
                    i18n="@@user-settings-audio-preview-volume-label"
                    i18n-matTooltip="@@user-settings-audio-preview-volume-tooltip"
                    matTooltip="Default volume of audio previews."
                >Audio Preview Volume</a>
            </div>
            <mat-slider class="volume-slider" min="0" max="100" showTickMarks discrete>
                <input [(ngModel)]="audioPreviewVolume" (valueChange)="changeDefaultAudioPreviewVolume($event)" matSliderThumb>
            </mat-slider>
        </div>
        <div class="performance-mode-slider">
            <mat-slide-toggle [(ngModel)]="performanceMode" (change)="changePerformanceModeSetting()">
                <a 
                    i18n="@@user-settings-performance-mode-label"
                    i18n-matTooltip="@@user-settings-performance-mode-tooltip"
                    matTooltip="Improves performance by disabling animations, etc."
                >Performance Mode</a>
            </mat-slide-toggle>
        </div>
    </div>
</mat-dialog-content>