.starting-data-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    .starting-data {
        width: 50%;
        display: flex;
        flex-direction: column;

        .starting-data-title {
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: larger;
            font-weight: bold;
        }

        .starting-data-list {
            width: 100%;

            mat-spinner {
                z-index: 10;
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }
        
            .data-item {
                height: 2em;
                display: flex;
                overflow: hidden;
    
                .checkbox {
                    width: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 1em;
                    margin-right: 1em;
                }
    
                .item-name {
                    width: 95%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    white-space: nowrap;
                }
            }
        }
    }

    .starting-data-filters {
        width: 50%;
        
        .starting-data-filters-title {
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: larger;
            font-weight: bold;
        }

        .starting-data-filters-options {
            width: 100%;

            .filter-element {
                display: flex;
                flex-direction: column;
                padding-left: 2%;
                padding-right: 2%;
                margin-bottom: 1em;
                
                .filter-element-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
            
                    .title-text {
                        font-weight: bold;
                        flex-grow: 1;
                    }
                }

                .double-form-field {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
            
                    mat-form-field {
                        flex-basis: 48%;
                    }

                    @media (max-width: 60em) {
                        mat-form-field {
                            flex-basis: 100%;
                        }
                    }
                }
            }
        }
    }
}