<div class="username-area">
    <div class="username-input-section">
        <div class="name-input">
            <mat-form-field>
                <mat-label i18n="@@new-game-anilist-list-picker-username">Anilist Username</mat-label>
                <input matInput i18n-placeholder="@@new-game-anilist-list-picker-username-placeholder" placeholder="Username" [(ngModel)]="username">
            </mat-form-field>
        </div>
        <div class="load-button">
            <button mat-flat-button color="primary" [disabled]="!allowedToLoadData()" (click)="loadFromList()">
                <a i18n="@@new-game-anilist-list-picker-get-list-button">Get User List</a>
            </button>
        </div>
    </div>
    <div class="prefilter-list">
        <div class="anime-manga">
            <mat-checkbox [(ngModel)]="getAnime"><a i18n="@@new-game-anilist-list-get-anime">Get Anime</a></mat-checkbox>
            <mat-checkbox [(ngModel)]="getManga"><a i18n="@@new-game-anilist-list-get-manga">Get Manga</a></mat-checkbox>
        </div>
        <div class="status">
            <div *ngFor="let s of statusOptions">
                <mat-checkbox [(ngModel)]="s.selected"><a>{{s.displayName}}</a></mat-checkbox>
            </div>
        </div>
    </div>
</div>