<div>
    <mat-tab-group class="anilist-character" mat-align-tabs="center" [selectedIndex]="currentTab" (selectedIndexChange)="currentTab = $event">
        <mat-tab class="username-input-area" i18n-label="@@new-game-anilist-char-from-username" label="From User Favourites">
            <app-anilist-favourites-picker
                [dataLoader]="anilistCharacterFaveListLoader"
                [loadingDone]="loadingDone"
                (chooseData)="setupCurrentList($event)"
                (loadingData)="startLoadingData($event)">
            </app-anilist-favourites-picker>
        </mat-tab>
        <mat-tab class="file-input-area" i18n-label="@@new-game-anilist-char-from-file" label="From File">
            <app-anilist-filedrop-picker
                [dataLoader]="anilistCharacterIdLoader"
                [loadingDone]="loadingDone"
                (chooseData)="setupCurrentList($event)"
                (loadingData)="startLoadingData($event)">
            </app-anilist-filedrop-picker>
        </mat-tab>
        <mat-tab class="text-input-area" i18n-label="@@new-game-anilist-char-from-text" label="From Text">
            <app-anilist-textbox-picker
                [dataLoader]="anilistCharacterIdLoader"
                [loadingDone]="loadingDone"
                [textboxPlaceholder]="textboxPlaceholder"
                [textboxLabel]="textboxLabel"
                [buttonName]="textboxButtonName"
                (chooseData)="setupCurrentList($event)"
                (loadingData)="startLoadingData($event)">
            </app-anilist-textbox-picker>
        </mat-tab>
    </mat-tab-group>
</div>