.username-input-area {
    .username-area {
        display: flex;
        align-items: center;
        align-content: center;
    
        .name-input {
            margin-right: 1em;
        }
    }
}