.username-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .username-input-section {
        display: flex;
        flex-direction: column;
        flex: 1 1 28%;
        margin-left: 1%;
        margin-right: 1%;

        .name-input {
            margin-right: 1em;

            mat-form-field {
                width: 100%;
            }
        }
    
        .load-button {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

    .filter-section {
        height: 20%;
        flex: 1 1 68%;
        margin-left: 1%;
        margin-right: 1%;

        .faves-count {
            display: flex;
            flex-direction: row;

            .faves-text {
                width: 15%;
                text-align: end;
            }

            .faves-selector {
                width: 85%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}