<div class="top">
    <mat-tab-group mat-align-tabs="center" [selectedIndex]="currentTab" (selectedIndexChange)="currentTab = $event">
        <mat-tab i18n-label="@@game-menu-tab-overview" label="Overview" style="display: flex; flex-direction: column; overflow: hidden;">
            <div style="height: 5%; display: flex; flex-direction: column; align-items: center;">
                <a i18n="@@game-menu-overview-comparisons" style="font-size: large;">Comparisons</a>
            </div>
            <div style="height: 50%;">
                <div class="history-menu">
                    <div class="history-list" role="list" style="display: flex; flex-direction: column; align-items: center;">
                        <div class="history-item" *ngFor="let item of history; index as i" style="display: flex; flex-direction: row;">
                            <div class="history-undo">
                                <button mat-icon-button i18n-matTooltip="@@game-menu-overview-undo-button" (click)="undoPick(item)" matTooltip="Undo this history item.">
                                    <mat-icon>undo</mat-icon>
                                </button>
                            </div>
                            <img class="history-image" [src]="item.itemA.imageUrl" [matTooltip]="getItemDisplayName(item.itemA)">
                            <div class="history-vs">
                                <a i18n="@@game-menu-overview-vs">VS</a>
                            </div>
                            <img class="history-image" [src]="item.itemB.imageUrl" [matTooltip]="getItemDisplayName(item.itemB)">
                            <div class="history-choice">
                                <a i18n="@@game-menu-overview-winner">Win:</a>
                            </div>
                            <img class="history-image" [src]="item.choice.imageUrl" [matTooltip]="getItemDisplayName(item.choice)">
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 5%; display: flex; flex-direction: row; justify-content: center; font-size: medium">
                <a i18n="@@game-menu-overview-remaining">Remaining:</a>&nbsp;<a>{{estimateRemaining()}}</a>
            </div>
            <div style="height: 5%; display: flex; flex-direction: column; align-items: center;">
                <a i18n="@@game-menu-overview-deleted" style="font-size: large;">Deleted Items</a>
            </div>
            <div class="deleted-menu" style="height: 35%;">
                <div class="deleted-list" role="list" style="display: flex; flex-direction: column; align-items: center;">
                    <div class="deleted-item" *ngFor="let item of deletedItems">
                        <div class="deleted-undo">
                            <button mat-icon-button (click)="sendUndelete(item)" i18n-matTooltip="@@game-menu-overview-undo-delete-button" matTooltip="Undo this delete.">
                                <mat-icon>undo</mat-icon>
                            </button>
                        </div>
                        <img class="deleted-image" [src]="item.imageUrl">
                        <div class="deleted-name">
                            {{getItemDisplayName(item)}}
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab i18n-label="@@game-menu-tab-matchup" label="Matchup" [disabled]="gameDone">
            <div class="matchup-menu" *ngIf="!gameDone && leftItem && rightItem">
                <div class="matchup">
                    <div class="matchup-tile">
                        <app-sortable-item-tile class="tile-item" [item]="leftItem" (selected)="sendAnswer(leftItem)" (deleted)="sendDelete(leftItem)"></app-sortable-item-tile>
                    </div>
                    <div class="matchup-tile">
                        <app-sortable-item-tile class="tile-item" [item]="rightItem" (selected)="sendAnswer(rightItem)" (deleted)="sendDelete(rightItem)"></app-sortable-item-tile>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab i18n-label="@@game-menu-tab-results" label="Results" [disabled]="!gameDone">
            <div class="result-menu" *ngIf="gameDone">
                <div class="result-list" role="list">
                    <div class="result-item" *ngFor="let item of results; index as i">
                        <div class="result-rank">
                            <b>
                                {{i + 1}}
                            </b>
                        </div>
                        <img class="result-image" [src]="item.imageUrl">
                        <div class="result-name">
                            {{getItemDisplayName(item)}}
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="bottom-pannel">
        <div class="progress-bar">
            <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
        </div>
        <div class="game-buttons">
            <button mat-raised-button color="primary" (click)="undoPick()" *ngIf="(currentTab == 1 || currentTab == 2)" [disabled]="lastChoice === null">
                <mat-icon fontIcon="undo"></mat-icon>
                <a i18n="@@game-menu-undo-button">Undo</a>
            </button>
            <div *ngIf="currentTab == 2">
                <button mat-raised-button color="primary" [matMenuTriggerFor]="exportMenu">
                    <mat-icon fontIcon="download"></mat-icon>
                    <a i18n="@@game-menu-export-button">Export</a>
                </button>
                <mat-menu #exportMenu="matMenu" yPosition="above">
                <button mat-menu-item (click)="export('txt')">TXT</button>
                <button mat-menu-item (click)="export('csv')">CSV</button>
                </mat-menu>
            </div>
            <button mat-raised-button color="warn" (click)="restartSession()" [disabled]="history.length === 0">
                <mat-icon fontIcon="restart_alt"></mat-icon>
                <a i18n="@@game-menu-restart-button">Restart</a>
            </button>
        </div>
    </div>
</div>