.top {
    height: 90%;
    
    mat-tab-group {
        height: 90%;
        display: flex;
        flex-direction: column;

        .overview-content {
            height: 100%;
            display: flex;
            flex-wrap: wrap;

            .section-title {
                height: 5%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                a {
                    font-size: large;
                }
            }
    
            .comparisons-area {
                height: 50%;
                flex-grow: 4;
                overflow: hidden;

                .history-list {
                    flex-grow: 4;
                    height: 100%;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                
                    .history-item {
                        height: 40%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                
                        .history-undo {
                            width: 10%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: large;
                        }
                
                        .history-vs {
                            width: 10%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: large;
                        }
                
                        .history-choice {
                            width: 15%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: large;
                        }
                
                        .history-image {
                            width: calc((65%) / 3);
                            max-height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
        
                            .image-content {
                                height: 80%;
        
                                img {
                                    height: 100%;
                                    width: auto;
                                }
                            }
        
                            .image-name {
                                height: 20%;
                                width: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .comparisons-search {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow: 1;
    
                .search-bar-title {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
    
                .search-bar {
                    width: 100%;
                    display: flex;
                    justify-content: center;
    
                    mat-form-field {
                        width: 100%;
                        padding-left: 3%;
                        padding-left: 3%;
                    }
                }
            }

            .deleted-area {
                height: 50%;
                width: 100%;
    
                .deleted-list {
                    height: 100%;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                
                    .deleted-item {
                        height: 40%;
                        width: 80%;
                        display: flex;
                        justify-content: center;
                
                        .deleted-undo {
                            width: 10%;
                            display: flex;
                            align-items: center;
                            font-size: large;
                        }
                
                        .deleted-image {
                            width: 30%;
                            max-height: 100%;
                            display: flex;
                            justify-content: center;

                            img {
                                height: 100%;
                                width: auto;
                            }
                        }
                        
                        .deleted-name {
                            width: 20%;
                            display: flex;
                            align-items: center;
                            font-size: large;
                        }
                    }
                }
            }
        }
    }

    .bottom-pannel {
        .progress-bar {
            height: 1em;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            margin-bottom: 1%;
            margin-top: 1%;
        }

        .game-buttons {
            height: 90%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
        }
    }
}

.matchup {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    .matchup-section {
        width: 50%;
        display: flex;
        justify-content: center;

        .matchup-tile {
            max-width: 40vw;
            max-height: 100%;
        }
    }
}

::ng-deep .mat-mdc-tab-body-wrapper {
    height: 100% !important;

    .result-menu {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

::ng-deep .mat-mdc-tab-body {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

::ng-deep mat-tab-body::-webkit-scrollbar {
    display: none;
}

.result-list {
    width: 100%;
    height: 100%;

    .result-item {
        height: 25%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;

        .result-rank {
            display: flex;
            align-items: center;
            margin-left: 5%;
            margin-right: 5%;
            font-size: large;
        }

        .result-image {
            max-height: 100%;
        }
        
        .result-name {
            display: flex;
            align-items: center;
            margin-left: 5%;
            margin-right: 5%;
            font-size: large;
        }
    }
}

