<div class="top">
    <mat-tab-group mat-align-tabs="center" [selectedIndex]="currentTab" (selectedIndexChange)="currentTab = $event">
        <mat-tab label="Overview">
            <div style="margin: 2em;">
                <div style="font-size: large;">
                    Current Session: {{getSession()}}
                </div>
            </div>
            <div class="deleted-menu">
                <div class="deleted-list" role="list">
                    <div class="deleted-item" *ngFor="let item of deletedItems">
                        <div class="deleted-undo">
                            <button mat-raised-button color="primary" (click)="undoDelete(item)" [matTooltip]="'Undo Delete of ' + getItemDisplayName(item)">
                                <mat-icon fontIcon="undo"></mat-icon>
                            </button>
                        </div>
                        <img class="deleted-image" [src]="item.imageUrl">
                        <div class="deleted-name">
                            {{getItemDisplayName(item)}}
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Matchup" [disabled]="gameDone">
            <div class="matchup-menu" *ngIf="!gameDone">
                <div class="matchup" style="display: flex; flex-wrap: nowrap; justify-content: space-evenly">
                    <app-sortable-item-tile [item]="leftItem" (selected)="pickLeft()" (deleted)="deleteLeft()" style="min-width: 100px; max-width: 50%;"></app-sortable-item-tile>
                    <app-sortable-item-tile [item]="rightItem" (selected)="pickRight()" (deleted)="deleteRight()" style="min-width: 100px; max-width: 50%;"></app-sortable-item-tile>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Results" [disabled]="!gameDone">
            <div class="result-menu" *ngIf="gameDone">
                <div class="result-list" role="list">
                    <div class="result-item" *ngFor="let item of results; index as i">
                        <div class="result-rank">
                            <b>
                                {{i + 1}}
                            </b>
                        </div>
                        <img class="result-image" [src]="item.imageUrl">
                        <div class="result-name">
                            {{getItemDisplayName(item)}}
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div clas="bottom-pannel">
        <div style="display: flex; flex-wrap: nowrap; justify-content: space-around; margin-top: 3%;">
            <button mat-raised-button color="primary" (click)="undoPick()" *ngIf="(currentTab == 1 || currentTab == 2)">
                <mat-icon fontIcon="undo"></mat-icon>
                Undo Selection
            </button>
            <button mat-raised-button color="primary" (click)="export()" *ngIf="currentTab == 2">
                <mat-icon fontIcon="download"></mat-icon>
                Export Results
            </button>
            <button mat-raised-button color="warn" (click)="restartSession()">
                <mat-icon fontIcon="restart_alt"></mat-icon>
                Restart Session
            </button>
            <div style="font-size: large;" *ngIf="!gameDone">
                <b>Remaining Comparisons: ~{{estimateRemaining()}}</b>
            </div>
        </div>
    </div>
</div>