.item-card {
    mat-card-header {
        justify-content: center
    }
    
    img {
        cursor: pointer;
    }
    
    mat-card-content {
        display: flex;
        padding: 0;
        height: 3em;
        justify-content: center;
        align-items: center;
    
        .bottom-button {
            cursor: pointer;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: large;
        }
        
        .bottom-button:hover {
            background-color: lightgray;
        }
    }
}
