.item-card {
    width: min-content;
    max-width: 100%;
    position: relative;

    mat-card-header {
        display: flex;
        justify-content: center;

        ::ng-deep .mat-mdc-card-header-text {
            width: 100%;
        }

        mat-card-title {

            .title-holder {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: center;
            }
        }
    }

    .card-image {
        display: flex;
        justify-content: center;
        cursor: pointer;

        img {
            max-width: 40vw;
            height: auto;
        }
    }

    mat-card-content {
        padding: 0;

        .main-buttons {
            display: flex;
            height: 3em;
            justify-content: center;
            align-items: center;

            .bottom-button {
                cursor: pointer;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                font-size: large;
            }
            
            .bottom-button:hover {
                background-color: lightgray;
            }
        }

        .bottom-audio-preview {
            display: flex;
            justify-content: center;
        }
    }
}
