<mat-card class="item-card">
    <mat-card-header>
        <mat-card-title><b>{{item.getDisplayName()}}</b></mat-card-title>
    </mat-card-header>
    <img (click)="selectThis()" (auxclick)="openLink()" mat-card-image [src]="item.imageUrl">
    <mat-card-content>
        <div class="bottom-button" (click)="deleteThis()" i18n-matTooltip="@@sortable-tile-delete-tooltip" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </div>
        <div class="bottom-button" (click)="openLink()" i18n-matTooltip="@@sortable-tile-info-link-tooltip" matTooltip="More Info Link">
            <mat-icon>link</mat-icon>
        </div>
    </mat-card-content>
</mat-card>
