<mat-toolbar class="app-toolbar">
  <div class="toolbar-items-left">
    <button (click)="goHome()" mat-icon-button matTooltip="Return to Home Screen">
      <mat-icon>home</mat-icon>
    </button>
    <span>Current user: {{username()}}</span>
  </div>
  <div class="toolbar-items-right">
    <app-locale-picker></app-locale-picker>
    <button (click)="gotoDocs()" mat-icon-button matTooltip="API Page">
      <mat-icon>api</mat-icon>
    </button>
    <button (click)="logout()" mat-icon-button matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>