<div class="top-half">
    <div mat-subheader><b i18n="@@main-screen-existing-sessions">Resume a Comparison Session</b></div>
    <mat-divider></mat-divider>
    <mat-list class="session-list" role="list">
        <mat-list-item *ngFor="let session of sessionList.sessions">
            <div class="session-item">
                <div class="session-name" (click)="selectSession($event, session)">
                    {{session.name}}
                </div>
                <button class="delete-button" mat-icon-button (click)="deleteSession(session)">
                    <mat-icon fontIcon="delete"></mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
    <div class="no-sessions" *ngIf="sessionList.sessions.length === 0">
        <a i18n="@@main-screen-no-sessions">No comparisons made yet!</a>
    </div>
</div>
<div class="bottom-half">
    <div mat-subheader><b i18n="@@main-screen-pick-sort">Pick a Comparison Type</b></div>
    <mat-divider></mat-divider>
    <div class="new-session-list">
        <div class="type-card" [id]="game.type" *ngFor="let game of gameOptions" (click)="selectNewGameOption($event, game.type)">
            <div class="card-title">
                <b>{{game.displayName}}</b>
            </div>
            <img mat-card-image [src]="'assets/' + game.image">
        </div>
        <div class="type-card" (click)="selectImportOption($event)">
            <div class="card-title">
                <b i18n="@@main-screen-import-session">Import Comparison Session</b>
            </div>
            <div class="import-icon">
                <img class="import-icon-image" mat-card-image src="assets/import-session.png">
            </div>
        </div>
    </div>
</div>
