<div class="starting-data-titles">
    <div class="starting-data-list-title">
        <a i18n="@@spotify-song-list">Song List</a>
    </div>
    <div class="starting-data-filters-title">
        <a i18n="@@spotify-song-filters">Song Filters</a>
    </div>
</div>
<div class="starting-data-container">
    <div class="starting-data">
        <app-select-deselect-component (selected)="selectAll()" (deselected)="deselectAll()"></app-select-deselect-component>
        <div class="starting-data-list">
            <mat-spinner *ngIf="currentlyLoading"></mat-spinner>
            <div class="data-item" *ngFor="let item of filteredItemList">
                <div class="checkbox">
                    <mat-checkbox (change)="updateFilters()" [(ngModel)]="item.selected"></mat-checkbox>
                </div>
                <div class="item-name">
                    {{getItemDisplayName(item.item)}}
                </div>
            </div>
        </div>
    </div>
    <div class="starting-data-filters">
        <div class="starting-data-filters-options">
            <app-checkbox-grid
                [filterTitle]="songMetaFilterTitle"
                [options]="metaOptions"
                (onChange)="updateMeta($event)">
            </app-checkbox-grid>
            <app-double-ended-number-input
                [filterTitle]="durationFilterTitle"
                [leftLabel]="durationMinLabel"
                [leftPlaceholder]="durationMinPlaceholder"
                [leftMin]="0"
                [rightLabel]="durationMaxLabel"
                [rightPlaceholder]="durationMaxPlaceholder"
                [rightMin]="0"
                (onChange)="updateDuration($event)">
            </app-double-ended-number-input>
            <app-chip-droplist
                [optionListGenerator]="artistGenerator"
                [getStringValue]="artistStringValue"
                [filterTitle]="artistsFilterTitle"
                [listLabel]="artistsListLabel"
                (onChange)="updateArtists($event)">
            </app-chip-droplist>
        </div>  
    </div>
</div>